<!DOCTYPE html>
<html lang="en">
	{% load staticfiles %}
	<head>
		<title>{% block title %}{% endblock %} | Zero Industries</title>

		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>

		<!-- All the icons -->
		<link rel="icon" type="image/png" href="{% static 'site/img/favicon-192x192.png' %}" sizes="192x192">
		<link rel="icon" type="image/png" href="{% static 'site/img/favicon-160x160.png' %}" sizes="160x160">
		<link rel="icon" type="image/png" href="{% static 'site/img/favicon-96x96.png' %}" sizes="96x96">
		<link rel="icon" type="image/png" href="{% static 'site/img/favicon-32x32.png' %}" sizes="32x32">
		<link rel="icon" type="image/png" href="{% static 'site/img/favicon-16x16.png' %}" sizes="16x16">

		<!-- Meta -->
    <meta name="description" content="Zero is a group of 9 high school sophomores dedicated to giving the world the rides of their life." />
    <meta name="author" content="Wesley Soo-Hoo" />

		<!-- CSS  -->
		<link type="text/css" rel="stylesheet" href="{% static 'site/css/materialize.css' %}" />
		<link type="text/css" rel="stylesheet" href="{% static 'site/css/animate.css' %}" />
		<link type="text/css" rel="stylesheet" href="{% static 'site/css/style.css' %}" />
		<link type="text/css" rel="stylesheet" href="{% static 'site/css/palette.css' %}" />
		<link type="text/css" rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
		<link type="text/css" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700">
		{% block css %}{% endblock %}
	</head>

	<body>

		{% block main %}{% endblock %}

		<script src="{% static 'site/js/jquery-2.1.4.min.js' %}"></script>
		<script src="{% static 'site/js/materialize.min.js' %}"></script>
		{% block js %}{% endblock %}
	</body>

</html>
