<!DOCTYPE html>
<html lang="en">
	{% load staticfiles %}
	<head>
		<title>{% block title %}{% endblock %} | Zero Industries</title>

		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>

		<!-- All the icons -->
		<link rel="icon" type="image/png" href="{% static 'site/img/favicon-192x192.png' %}" sizes="192x192">
		<link rel="icon" type="image/png" href="{% static 'site/img/favicon-160x160.png' %}" sizes="160x160">
		<link rel="icon" type="image/png" href="{% static 'site/img/favicon-96x96.png' %}" sizes="96x96">
		<link rel="icon" type="image/png" href="{% static 'site/img/favicon-32x32.png' %}" sizes="32x32">
		<link rel="icon" type="image/png" href="{% static 'site/img/favicon-16x16.png' %}" sizes="16x16">

		<!-- Meta -->
    <meta name="description" content="Zero is a group of 9 high school sophomores dedicated to giving the world the rides of their life." />
    <meta name="author" content="Wesley Soo-Hoo" />

		<!-- CSS  -->
		<link type="text/css" rel="stylesheet" href="{% static 'site/css/materialize.css' %}" />
		<link type="text/css" rel="stylesheet" href="{% static 'site/css/animate.css' %}" />
		<link type="text/css" rel="stylesheet" href="{% static 'site/css/style.css' %}" />
		<link type="text/css" rel="stylesheet" href="{% static 'site/css/palette.css' %}" />
		<link type="text/css" rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
		<link type="text/css" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700">
		{% block css %}{% endblock %}
	</head>

	<body>
		<header>
			<nav class="dark-primary" role="navigation">
				<div class="container">
					<div class="nav-wrapper"><a id="logo-container" href="/site/" class="brand-logo hide-on-med-and-down">Zero Industries</a>
						<ul class="right hide-on-med-and-down">
							<li><a class="waves-effect waves-light" href="/site/">Home</a></li>
							<li><a class="waves-effect waves-light" href="/site/attractions">Attractions</a></li>
							<li><a class="waves-effect waves-light" href="/site/visit">Visit</a></li>
							<li><a class="waves-effect waves-light" href="/site/team">Team</a></li>
							<li><a class="waves-effect waves-light" href="/site/faq">FAQ</a></li>
							<li><a class="waves-effect waves-light" href="/site/resources">Resources</a></li>
						</ul>

						<ul id="nav-mobile" class="side-nav">
							<li class="logo center"><a id="logo-container" href="/site/" class="brand-logo">
								<object id="front-page-logo" type="image/png" data="{% static 'site/img/logo.png' %}"></object></a></li>
							<div class="divider"></div>
							<li><a href="/site/">Home</a></li>
							<li><a href="/site/attractions">Attractions</a></li>
							<li><a href="/site/visit">Visit</a></li>
							<li><a href="/site/team">Team</a></li>
							<li><a href="/site/faq">FAQ</a></li>
							<li><a href="/site/resources">Resources</a></li>
						</ul>
						<a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
					</div>
				</div>
			</nav>
		</header>

		{% block main %}{% endblock %}

		<footer class="dark-primary page-footer">
			<div class="container">
				<div class="row">
					<div class="col m6 s12">
						<h5 class="white-text">Zero Industries</h5>
						<p class="grey-text text-lighten-4">Have the ride of your life!</p>
					</div>
					<div class="col m3 s12">
						<h5 class="white-text">Pages</h5>
						<ul>
							<li><a class="white-text" href="/site/">Home</a></li>
							<li><a class="white-text" href="/site/attractions">Attractions</a></li>
							<li><a class="white-text" href="/site/visit">Visit</a></li>
							<li><a class="white-text" href="/site/team">Team</a></li>
							<li><a class="white-text" href="/site/faq">FAQ</a></li>
						</ul>
					</div>
					<div class="col m3 s12">
						<h5 class="white-text">Resources</h5>
						<ul>
              <li><a class="white-text" href="{% static 'site/resources/map.pdf' %}" download>Map</a></li>
              <li><a class="white-text" href="{% static 'site/resources/zero.pdf' %}" download>Flyer</a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="footer-copyright">
				<div class="container">
					&copy; Wesley Soo-Hoo 2016 | Made with <a class="grey-text text-lighten-2" href="http://materializecss.com/" target="_blank">MaterializeCSS</a>
					<a class="grey-text text-lighten-2 right modal-trigger" href="#license">MIT License</a>
				</div>
			</div>

			<div id="license" class="modal modal-fixed-footer">
				<div class="modal-content">
				<h4>The MIT License (MIT)</h4>
					<p>Copyright &copy; 2016 Wesley Soo-Hoo<br><br>
					Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the "Software"), to deal in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:  The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.<br><br>
					THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.</p><br>
				</div>
				<div class="modal-footer">
					<a href="#!" class="modal-action modal-close waves-effect waves-light btn-flat">Agree</a>
				</div>
			</div>

		</footer>

		<script src="{% static 'site/js/jquery-2.1.4.min.js' %}"></script>
		<script src="{% static 'site/js/materialize.min.js' %}"></script>
		<script src="{% static 'site/js/init.js' %}"></script>
		{% block js %}{% endblock %}
	</body>

</html>
