{% extends "site/base.html" %}
{% load staticfiles %}

{% block title %}Visit{% endblock %}

{% block main %}
		<main>
			<div class="no-pad-bot section" id="index-banner">
				<div class="container">
					<h2 class="header center primary-text">Visit Us!</h2>
          <div class="row center">
						<h5 class="header col s12 light">Come visit us during our Investor Fair!</h5>
					</div>

				</div>
			</div>

			<div class="container">
				<div class="section">
          <div class="card-panel">
  		       <iframe src="https://www.google.com/maps/embed/v1/place?q=California%20Academy%20of%20Mathematics%20and%20Science%20School%2C%20East%20Victoria%20Street%2C%20Carson%2C%20CA%2C%20United%20States&key=AIzaSyAgorC0GNi_5yVb0NDU8FgK6dB6QIqKhN0" width="100%" height="400px" frameborder="0" style="border:0" allowfullscreen></iframe>
           </div>
				</div>
			</div>

      <div class="container">
        <div class="section">
          <div class="row">
            <div class="col s12 m6">
              <div class="card-panel light-primary">
                <span class="card-title accent-text"><b>Address:</b></span>
                <p>1000 East Victoria Street</p>
              </div>
            </div>
            <div class="col s12 m6">
              <div class="card-panel light-primary">
                <span class="card-title accent-text"><b>Hours:</b></span>
                <p>May 26, 6pm-8pm<br>
                   June 1, 9:30am-11:30am, 5:30pm-7:30pm</p>
              </div>
            </div>
            <div class="col s12 m6">
              <div class="card-panel light-primary">
                <span class="card-title accent-text"><b>Phone:</b></span>
                <p>(310) 661-0828</p>
              </div>
            </div>
            <div class="col s12 m6">
              <div class="card-panel light-primary">
                <span class="card-title accent-text"><b>Admission:</b></span>
                <p>Free | All</p>
              </div>
            </div>
          </div>
        </div>
      </div>
		</main>
{% endblock %}
