{% extends "display/base.html" %}
{% load staticfiles %}

{% block main %}

  <div id="impress">
    <div id="title" class="step center" data-x="0" data-y="0" timeout="5000">
      <div class="container">
        <h1 class="primary-text kinda-huge"><b>Zero Industries</b></h1>
        <div class="col-2" id="offset"></div>
        <img class="animated infinite pulse col-8" src="{% static 'display/img/logo.png' %}">
        <h3 class="light col-12">Have the ride of your life!</h3>
      </div>
    </div>

    <div id="overview" class="step flex-align" data-x="0" data-y="0" data-z="-500" timeout="5000">
      <div id="map" class="col-6">
        <img src="{% static 'display/img/park.png' %}">
      </div>
      <div id="text" class="col-6 center">
        <h2 class="primary-text"><b>Overview</b></h2>
        <h5>
          <ul id="sections">
            <li>Accelerating Aviation</li>
            <li>Blast in the Past</li>
            <li>Nautical Neighborhood</li>
            <li>Space Sector</li>
            <li>Wonder Wheels</li>
          </ul>
        </h5>
      </div>
    </div>

    <div id="aviation" class="step center" data-x="0" data-y="0" data-z="-500" data-rotate-x="90" data-rotate-y="180" timeout="5000">
      <h2 class="primary-text"><b>Accelerating Aviation</b></h2>
      <h5>Speeding down the runway towards liftoff!</h5>
    </div>

    <div id="blast" class="step center" data-x="0" data-y="0" data-z="-500" data-rotate-x="270" data-rotate-y="0" timeout="5000">
      <h2 class="primary-text"><b>Blast in the Past</b></h2>
      <h5>Flashing back to old times!</h5>
    </div>

    <div id="nautical" class="step center" data-x="0" data-y="0" data-z="-500" data-rotate-x="0" data-rotate-y="0" timeout="5000">
      <h2 class="primary-text"><b>Nautical Neighborhood</b></h2>
      <h5>Launch a new expedition!</h5>
    </div>

    <div id="space" class="step center" data-x="0" data-y="0" data-z="-500" data-rotate-x="180" data-rotate-y="180" timeout="5000">
      <h2 class="primary-text"><b>Space Sector</b></h2>
      <h5>Embark on a mission to space!</h5>
    </div>

    <div id="wheels" class="step center" data-x="0" data-y="0" data-z="0" data-rotate-x="180" data-rotate-y="180" timeout="5000">
      <h2 class="primary-text"><b>Wonder Wheels</b></h2>
      <h5>Illustrating the wonders of technology!</h5>
    </div>
  </div>
{% endblock %}
