{% extends "display/base.html" %}
{% load staticfiles %}

{% block main %}

  <div id="impress">
    <div id="title" class="step center" data-x="0" data-y="0" timeout="5000">
      <div class="container">
        <h1 class="primary-text kinda-huge"><b>Zero Industries</b></h1>
        <div class="col-2" id="offset"></div>
        <img class="animated infinite pulse col-8" src="{% static 'display/img/logo.png' %}">
        <h3 class="light col-12">Have the ride of your life!</h3>
      </div>
    </div>

    <div id="captial" class="step center" data-x="0" data-y="0" data-z="-500" timeout="10000">
      <h2 class="primary-text"><b>Capital Requirement</b></h2>
    </div>

    <div id="location" class="step center" data-x="0" data-y="0" data-z="-500" data-rotate-x="180" data-rotate-y="180" timeout="10000">
      <h2 class="primary-text"><b>Location</b></h2>
    </div>

    <div id="attractions" class="step center" data-x="0" data-y="500" data-z="-500" data-rotate-x="180" timeout="10000">
      <h2 class="primary-text"><b>Attractions</b></h2>
    </div>

    <div id="income" class="step center" data-x="0" data-y="0" data-z="-500" timeout="10000">
      <h2 class="primary-text"><b>Income</b></h2>
    </div>

    <div id="return" class="step center" data-x="0" data-y="0" data-z="0" data-rotate-x="180" data-rotate-y="180" timeout="10000">
      <h2 class="primary-text"><b>Return on Investment</b></h2>
    </div>
  </div>
{% endblock %}
