{% extends "display/base.html" %}
{% load staticfiles %}

{% block main %}

  <div id="impress">
    <div id="title" class="step center" data-x="0" data-y="0" timeout="5000">
      <div class="container">
        <h1 class="primary-text kinda-huge"><b>Zero Industries</b></h1>
        <div class="col-2" id="offset"></div>
        <img class="animated infinite pulse col-8" src="{% static 'display/img/logo.png' %}">
        <h3 class="light col-12">Have the ride of your life!</h3>
      </div>
    </div>

    <div id="captial" class="step center" data-x="0" data-y="0" data-z="-500" timeout="10000">
      <h2 class="primary-text"><b>Capital Requirement</b></h2>
    </div>

    <div id="location" class="step center" data-x="0" data-y="0" data-z="-500" data-rotate-x="180" data-rotate-y="180" timeout="10000">
      <h2 class="primary-text"><b>Location</b></h2>
      <div class="col-6">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1673154.8893690764!2d-116.97505338772561!3d35.009692817937356!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80c387de7ad5daf5%3A0x7c75725212bad77e!2sHinkley%2C+CA+92347!5e0!3m2!1sen!2sus!4v1464713879373" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
      </div>
      <div class="col-6">
        <h3 class="accent-text">Hinkley, CA</h3>
        <h5>
          <ul id="hinkley">
            <li>Off the 15 freeway between Los Angeles and Las Vegas</li><br>
            <li>Population of 2000 people</li><br>
            <li>22 entertainment industries, but no theme parks</li><br>
            <li>$55,000 for 100 acres</li>
          </ul>
        </h5>
      </div>
    </div>

    <div id="attractions" class="step center" data-x="0" data-y="500" data-z="-500" data-rotate-x="180" timeout="10000">
      <h2 class="primary-text"><b>Attractions</b></h2>
    </div>

    <div id="income" class="step center" data-x="0" data-y="0" data-z="-500" timeout="10000">
      <h2 class="primary-text"><b>Income</b></h2>
    </div>

    <div id="return" class="step center" data-x="0" data-y="0" data-z="0" data-rotate-x="180" data-rotate-y="180" timeout="10000">
      <h2 class="primary-text"><b>Return on Investment</b></h2>
    </div>
  </div>
{% endblock %}
